.overall-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transactions-container {
  max-width: 87.5rem;
  width: 100%;
  max-height: 53vh;
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 1rem;
}

.transactions-container::-webkit-scrollbar {
  width: 1rem;
}

.transactions-container::-webkit-scrollbar-thumb {
  background-color: #8ab9bf;
  border-radius: 1rem;
}
